$textColor: #000;
$elemsBgColor: #fff;
$borderColor: rgb(219, 219, 219);
$textSpacing: 15px;

.feed-post{
  width: 100%;
  min-height: 200px;
  height: max-content;
  max-height: 100vh;
  color: $textColor;
  background: $elemsBgColor;
  border: 1px solid $borderColor;
  border-radius: 5px;
  overflow: hidden;

  .resume{
    margin: $textSpacing;
  }
  .post-photo-cont{
    width: 100%;
    height: min-content;
    .post-photo{
      width: 100%;
    }
  }

  .actions{
    display: flex;
    padding: 0 $textSpacing;
    margin: $textSpacing 0;
    .action{
      font-size: 25px;

      & + .action{
        margin-left: 20px;
      }
    }
    .action-save{
      margin-left: auto !important;
    }
  }
  
  .likes-count{
    font-weight: 600;
    padding: 0 $textSpacing;
    margin: $textSpacing 0;
  }

  & + .feed-post{
    margin-top: $textSpacing*2;
  }
}